<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Meta -->
  <meta charset="UTF-8" />
  <title>Vue.JS Grid</title>
  
  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  
  <!-- Scripts -->
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
</head>

  <body>
    <div class="header">
        <img class="header-logo" src="https://raw.githubusercontent.com/CodeLouisville/FSJS-Weekly-Challenges/master/Challenges/Week5/images/pokedex.png"><h1>Pok&eacute;dex</h1>
    </div>

    <div id="main-content">
        <div id="pokedex">
          <single-poke :poke="pokeArray" v-show="singleDisplayed">
          </single-poke>      
          <pokemon :pokemon="pokemonList" v-show="listDisplayed" v-on:select="select($event)"></pokemon>
          <button id="previous" class="btn" v-on:click="previous" v-show="listDisplayed">Previous</button>
          <button id="next" class="btn" v-on:click="next" v-show="listDisplayed">Next</button>  
          <button class="btn" v-show="singleDisplayed" v-on:click="singleDisplayed =! singleDisplayed, listDisplayed =! listDisplayed">Return to List View</button>          
        </div>
    </div>

    <script type="text/x-template" id="pokeCard">
      <div>
        <table>
          <tr>
            <td class="poke-card"><h3>Name</h3></td>
            <td class="poke-card"><h3>Ability</h3></td>
            <td class="poke-card"><h3>Move</h3></td>
            <td class="poke-card"><h3>Type</h3></td>
            <td class="poke-card"><h3>Weight</h3></td>
          </tr>
          <tr ><td v-for="item in poke" class="poke-card"><h3>{{ item }}</h3></td></tr>
        </table>
      </div>
  </script>
    
    <img id="pikachu" class="hvr-hang" src="https://raw.githubusercontent.com/CodeLouisville/FSJS-Weekly-Challenges/master/Challenges/Week5/images/pikachu.png" alt="Pikachu">

    
    <script type="text/x-template" id="pokemon">
      <div>
          <ul class="pokemon" id="pokeList">
            <li class="poke-card" v-for="(poke, index) in pokemon"><h3 v-on:click="thisSelect(poke.name)">{{poke.name}} - {{index}}</h3></li>
          </ul>    
      </div>
    </script>

    <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
    <script src="js/components.js"></script>
    <script src="js/index.js"></script>
</body>
</html>